<div class="row">
    <div class="pb-3 ms-3">

      <button class="btn btn-primary btn-sm shadow" onclick="location.href='@Link'"><i class="bi @Icon"></i>@ButtonText</button>
        
    </div>
</div>

@code {
    [Parameter] public string Link { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public string? ButtonText { get; set; }
}
