<div class="page-header">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="pt-3">@Title</h3>
            <ol class="breadcrumb">
                @foreach (KeyValuePair<string, string> elements in BreadcrumbElements)
                {
                    <li class="breadcrumb-item"><a href="@elements.Value">@elements.Key</a></li>                    
                }
                <li class="breadcrumb-item active">@ActivePage</li> 
            </ol>
        </div>
    </div>
</div>

    



@code {
        [Parameter] public string Title { get; set; }
        [Parameter] public Dictionary<string, string> BreadcrumbElements { get; set; }
        [Parameter] public string ActivePage { get; set; }
}
