@*
<div class="setting-list">
    <ul class="list-unstyled setting-option list-group list-group-horizontal" style="width:@(if(Toogle)? 10:30)+px">
        <li>
            <div class="setting-primary">
                <i class="bi bi-three-dots-vertical" onclick="Toggle"></i>
            </div>
        </li>
        <li><a href="@LinkPath+@LinkEdit"><i class="bi bi-pencil-square"></i></a></li>
        <li><a type="button" @onclick="(()=>OnClickFunction(valueId)" class="px-1"><i class="bi bi-x-square"></i></a></li>
    </ul>
</div>

@code{
    [Parameter] public string LinkPath { get; set; }
    [Parameter] public int LinkEdit { get; set; }
    [Parameter] public Task OnClickFunction(int valueId);
    const int valueId = "";
    public bool Toogle { get; set; } = "false";
    public void Toggle()
    {
        Toogle = !Toogle;
    }
    
    
}
*@