<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center">Please  <a href="authentication/login">log in</a> to use all the functionalities. </h3>
                <h3 class="text-center">Don't have an account? Please <a href="authentication/register">register</a> </h3>
            </div>
        </div>
    </div>
</div>



@code {

}
