@page "/tasks/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

<div class="row">
    <div class="col-10">
        <Breadcrumb BreadcrumbElements=@breadcrumbLink Title="Create a new task" ActivePage="Create a new task"/>
    </div>
</div>

<Tabs Domain="task"/>

<div class="row">
    <div class="col-12">
        <FormComponentTask ButtonText="Create a task" tak="tak" OnValidSubmit="@CreateTak" CancelLink="/tasks"/>
    </div>    
</div>

@code {
    Tak tak = new Tak();
    
    private async Task CreateTak()
    {
        await _client.PostAsJsonAsync("/api/Taks", tak);
        _navManager.NavigateTo("/tasks");
    }
    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" },
                { "Tasks", "/tasks" }
            };

    
}
