@page "/tasks/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<div class="row">
    <div class="col-10">
        <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Edit your task" Title="Edit your task" />
    </div>
   <BookmarkBack />
</div>
<div class="row">
    <FormComponentTask ButtonText="Update" OnValidSubmit="@EditTak" tak="tak" CancelLink="/tasks"/>
</div>



@code {
    [Parameter] public int id { get; set; }
    Tak tak = new Tak();

    protected async override Task OnParametersSetAsync()
    {
        tak = await _client.GetFromJsonAsync<Tak>($"/api/Taks/{id}");
    }

    async Task EditTak()
    {
        await _client.PutAsJsonAsync($"/api/Taks/{id}", tak);
        _navManager.NavigateTo("/tasks");
    }
    
    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
     {
                { "Home", "/" },
                { "Tasks", "/tasks" }
     };
}