@page "/tasks/qa"

<div class="row">
        <div class="col-10">
            <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Q&A" Title="Q&A" />
        </div>
    </div>

    <Tabs Domain="tasks" />

@code {
    public Dictionary<string, string> breadcrumbLink { get; set; } =
        new Dictionary<string, string>()
        {
        { "Home", "/" },
        { "Tasks", "/tasks" },
        };

}