@page "/values/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

<div class="row">
    <div class="col-10">
        <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Create a value" Title="Create a value" />
    </div>
    <BookmarkBack />
</div>
<div class="row">
        <FormComponentValues ButtonText="Create the value" value="value" OnValidSubmit="@CreateValue" CancelLink="/values"/> 
</div>



@code {
    Value value = new Value();
    
    private async Task CreateValue()
    {
        await _client.PostAsJsonAsync("/api/Values", value);
        _navManager.NavigateTo("/values");
    }

    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" },
                { "Values", "/values" }
            };

}
