@page "/values/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<div class="row">
    <div class="col-10">
        <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Edit your value" Title="Edit your value" />
    </div>
    <Bookmark Link="/values/" Icon="bi-arrow-return-left"/>
</div>
<div class="row">
        <FormComponent ButtonText="Update" OnValidSubmit="@EditValue" value="value" CancelLink="/values"/> 
</div>





@code {
    [Parameter] public int id { get; set; }
    Value value = new Value();

    protected async override Task OnParametersSetAsync()
    {
        value = await _client.GetFromJsonAsync<Value>($"/api/Values/{id}");
    }

    async Task EditValue()
    {
        await _client.PutAsJsonAsync($"/api/Values/{id}", value);
        _navManager.NavigateTo("/values");
    }
    
    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" },
                { "Values", "/values" }
            };
}