@page "/values"
@using Microsoft.AspNetCore.Authorization
@using PersonalDevelopment.Client.Shared.Components
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

@if (Model == null)
{
    <Loading />
}
else
{
    <div class="row">
        <div class="col-10">
            <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Values list" Title="Your values" />
        </div>  
    </div>
    <Tabs Domain="values"/>

    <Bookmark Link="/values/create" ButtonText="Create a new values" />

    <div class="row row-cols-1 row-cols-lg-2 g-4">
        @foreach (var value in Model)
        {
            <div class="col">
                <div class="card h-100 d-flex flex-row p-0 card-values">

                    @if (value.ImageLink != null)
                    {
                        <div class="card-value-image" style="background-image: url('@value.ImageLink');"></div>
                    }


                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="value-card-content d-flex flex-column justify-content-between">
                            <h5 class="card-title pb-2">@value.Name</h5>
                            <div class="card-text overflow-auto">
                                <p class="text-muted">@value.Description</p>
                            </div>
                        </div>
                        <div class="footer-card">
                            <div class="d-flex">
                                <button type="button" class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="dropdown" aria-expanded="false">
                                    Actions
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/values/edit/@value.Id">Edit this value</a></li>
                                    <li><a class="dropdown-item" type="button" @onclick="(()=>Delete(value.Id))">Delete this value</a></li>
                                </ul>
                                <button class="btn btn-outline-primary btn-sm me-2" data-bs-toggle="collapse" href="#collapseC-@value.Id" role="button" aria-expanded="false" aria-controls="#collapseC-@value.Id">
                                    Show objectives
                                </button>
                            </div>

                            <div class="collapse" id="collapseC-@value.Id">
                                <div class="card card-body mt-2">
                                    @if (ValueObjectives?.Where(x => x.ValueID == value.Id).Count() > 0)
                                    {
                                        <ul class="connections-list">
                                            @foreach (var item in ValueObjectives?.Where(x => x.ValueID == value.Id))
                                            {
                                                <li class="connections-item"><a href="/objectivess/@item.Objective?.Id">@item.Objective?.Name</a></li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>There is no objective connected to this value</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private List<Value> Model;
    private List<ValueObjective> ValueObjectives;

    protected async override Task OnInitializedAsync()
    {
        Model = await _client.GetFromJsonAsync<List<Value>>("/api/values");
        ValueObjectives = await _client.GetFromJsonAsync<List<ValueObjective>>("/api/valueobjectives");
    }

    async Task Delete(int valueId)
    {
        var value = Model.First(q => q.Id == valueId);
        var confirm = await js.InvokeAsync<bool>("confirm", "Do you want to delete " + value.Name);
        if (confirm)
        {
            await _client.DeleteAsync("/api/values/" + valueId);
            await OnInitializedAsync();
        }

    }




    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
    {
       { "Home", "/" }
    };

}
