@page "/values"
@using Microsoft.AspNetCore.Authorization
@using PersonalDevelopment.Client.Shared.Components
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3>Values</h3>

@if (Model == null)
{
    <Loading />
}
else
{
    <a href="/values/create" class="btn btn-secondary">Create new value</a>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        @foreach (var value in Model)
        {
            <div class="col">
                <div class="card h-100 d-flex flex-row">
                   
                   <div class="card-value-image" style="background-image: url('https://localhost:7106/img/wandering_mind.svg');"></div>
                     
                    <div class="card-body">
                        <div class="value-card-content">
                            <h5 class="card-title">@value.Name</h5>
                            <p class="card-text">@value.Description</p>
                            <p class="card-text">
                                <a href="/values/view/@value.Id" class="btn btn-primary">Detail</a>
                                <a href="/values/edit/@value.Id" class="btn btn-primary">Edit</a>
                                <button class="btn btn-danger" @onclick="(()=>Delete(value.Id))"></button>
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        }
    </div>
}
@code {
    private List<Value> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _client.GetFromJsonAsync<List<Value>>("/api/values");
    }

    async Task Delete(int valueId)
    {
        var value = Model.First(q => q.Id == valueId);
        var confirm = await js.InvokeAsync<bool>("confirm", "Do you want to delete " + value.Name);
        if (confirm)
        {
            await _client.DeleteAsync("/api/values/" + valueId);
            await OnInitializedAsync();
        }

    }

}
