.card-value-image {
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 10rem;
    background-color: red;
    width: 100%;
    height: 100px;
}

