.card-value-image {
    background-position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 10rem;
    width: 100px;
    height: 100%;
    background-color: aliceblue;
}

