@page "/objectives/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims


<div class="row">
    <div class="col-10">
        <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Create an objective" Title="Create an objective" />
    </div>
    <BookmarkBack />
</div>
<div class="row">
       <FormComponentObjectives ButtonText="Create" objective="objective" OnValidSubmit="@CreateObjective" CancelLink="/objectives" />
</div>

@code {
    Objective objective = new Objective();

    private async Task CreateObjective()
    {
        await _client.PostAsJsonAsync("/api/Objectives", objective);
        _navManager.NavigateTo("/objectives");
    }

    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" },
                { "Objectives", "/objectives" }
            };
    
}
