@page "/objectives/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

 <div class="row">
        <div class="col-10">
             <Breadcrumb BreadcrumbElements=@breadcrumbLink ActivePage="Edit your objective" Title="Edit your objective" />
        </div>
    </div>

<Tabs Domain="objectives"/>
<div class="row">
    <div class="col-12">
        <FormComponentObjectives ButtonText="Update" OnValidSubmit="@EditObjective" objective="objective" CancelLink="/objectives" />
     </div>
</div>

@code {
    [Parameter] public int id { get; set; }
    Objective objective = new Objective();

    protected async override Task OnParametersSetAsync()
    {
        objective = await _client.GetFromJsonAsync<Objective>($"/api/Objectives/{id}");
    }

    async Task EditObjective()
    {
        await _client.PutAsJsonAsync($"/api/Objectives/{id}", objective);
        _navManager.NavigateTo("/objectives");
    }

    public Dictionary<string, string> breadcrumbLink { get; set; } =
    new Dictionary<string, string>()
            {
                { "Home", "/" },
                { "Objectives", "/objectives" }
            };
}