<EditForm Model="@objective" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
       <label>
           Name
           <InputText @bind-Value="objective.Name"/>
           @* <ValidationMessage For="@(()=> objective.Name)" />*@
       </label>
    </div>
    <div class="form-group">
        <label>
            Description:
            <InputText @bind-Value="objective.Description"/>
        </label>    
    </div>
    <div class="form-group">
        <label>
             Procentage:
            <InputNumber @bind-Value="objective.CompletedProcentage"/>
        </label>
        
    </div>
    <div class="form-group">
        <label>
            Status:
            <InputText @bind-Value="objective.Status" />
        </label>
        
    </div>
   
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    
</EditForm>

@code {
    [Parameter] public Objective objective { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
