@page "/objectives"
@using Microsoft.AspNetCore.Authorization
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]

<h3>Objectives</h3>

@if (Model == null)
{
    <div class="alert alert-info" role="alert">
        Loading values...
    </div>
} else
{
    <a href="/objectives/create" class="btn btn-secondary">Create new objective</a>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Name</th>
            <th>CompletedProcentage</th>
            <th>Status</th>
        </tr>
        @foreach (var objective in Model)
        {
            <tr>
                <td>@objective.Name</td>
                <td>@objective.Description</td>
                <td>@objective.Name</td>
                <td>@objective.CompletedProcentage</td>
                <td>
                    <a href="/objectives/view/@objective.Id" class="btn btn-primary">Detail</a>
                    <a href="/objectives/edit/@objective.Id" class="btn btn-primary">Edit</a>
                    <button class="btn btn-danger" @onclick="(()=>Delete(objective.Id))"></button>
                </td>
            </tr>
            
        }
    </table>
}

@code {
    private List<Objective> Model;

    protected async override Task OnInitializedAsync()
    {
        Model = await _client.GetFromJsonAsync<List<Objective>>("/api/objectives");
    }

    async Task Delete(int objectiveId)
    {
        var objective = Model.First(q => q.Id == objectiveId);
        var confirm = await js.InvokeAsync<bool>("confirm", "Do you want to delete " + objective.Name);
        if (confirm)
        {
            await _client.DeleteAsync("/api/objectives/" + objectiveId);
            await OnInitializedAsync();
        }
        
    }
    
}
    